// Cores
$cor-primaria: #3498db;
$cor-secundaria: #2575fc;
$cor-fundo: #fafafa;
$cor-texto: #222;
$cor-cinza: #555;

// Tipografia
$font-padrao: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$tamanho-base: 1.6rem;
$tamanho-titulo: 2.8rem;

// Espaçamentos
$espacamento-padrao: 2rem;
